header {
  height: 80px;
  background-color: $coloreHeaderCd;
  position: relative;
  img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
