.container-cd {
  text-align: center;
  .cd {
    display: inline-block;
    width: 30%;
    text-align: center;
    background-color: $coloreHeaderCd;
    height: 400px;
    margin-top: 20px;
    img {
      width: 250px;
      width: 250px;
    }
  }
}
